<div class="loading-animation">
  <section class="home">
    <div>
      <div class="section">
        <div class="content introduce">
          안녕하세요.<br/>
          건강한 아름다움을 제안하는 No.1 H&B 스토어, <a href="https://www.oliveyoung.co.kr/">올리브영</a>의 개발팀이 운영하는 기술
          블로그입니다.<br/><br/>
          올리브영 개발팀에서 사용하는 기술부터 소소한 이야기들까지 이런저런 이야기들을 공유하고 있습니다.<br/>
          저희가 배운 것들, 저희가 개선한 것들을 이 블로그를 통해 함께 나누고 소통하려고 합니다.
        </div>
      </div>

      <div class="section">
        <span class="title"><span class="label-emoji">✍️</span>&nbsp;최근 게시물</span>
        <div class="content">
          <table class="catalogue">
            <tr>
              {% assign sorted = site.pages | sort: 'date' | reverse %}
              {% for page in sorted limit:3 %}
              {% if page.type == 'tech' or page.type == 'life' %}
              {% include post-card.html %}
              {% endif %}
              {% endfor %}
            </tr>
          </table>
        </div>

      </div>

      <div class="section">
        <div class="content">
          <div class="recruit">
             <div class="container">
               <img class="background" src='/meta/oy_recruit.png'>
               <div class="centered"><img class="background logo" src='/meta/oy_text_logo.png'></div>
               <div class="recruit_text">건강한 아름다움을 제안하는 라이프스타일 플랫폼</div>
               <a href="/recruit" class="button a">채용 확인하기</a>
             </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>

