<div class="main">
    <div class="main-banner">
        <div class="content">
            <img src="https://image.oliveyoung.co.kr/pc-static-root/image/mypage/bg_mem_info.png" />
            <div class="overlay" />
            <div class="text-wrapper">
                <div class="title1">건강한 아름다움을 제안하는 No.1 H&B 스토어,</div>
                <div class="title2"><a href="https://www.oliveyoung.co.kr/">올리브영</a>의 개발팀이 운영하는 기술 블로그입니다.</div>
                <br/>
                <div class="txt">올리브영 개발팀에서 사용하는 기술부터 소소한 이야기들까지 이런저런 이야기들을 공유하고 있습니다.</div>
                <div class="txt">저희가 배운 것들, 저희가 개선한 것들을 이 블로그를 통해 함께 나누고 소통하려고 합니다.</div>
            </div>
        </div>
    </div>
</div>
