<nav class="nav">
  <div class="nav-container">
    <ul>
      <li class="transition">
        <a class="logo" href="{{ '' | prepend: site.baseurl }}/">
          <img src="/meta/oy_logo.jpg">
          <span>올리브영 기술블로그</span>
        </a>
      </li>
      <li class="transition">
        <a href="{{ '/about' | prepend: site.baseurl }}" {% if current[1]== "about" %} class="active"{% endif%}>
        개발팀 소개
        </a>
      </li>
      <li class="transition">
        <a href="{{ '/tech' | prepend: site.baseurl }}" {% if current[1]== "tech" %} class="active"{% endif %}>
        테크노트
        </a>
      </li>
      <li class="transition">
        <a href="{{ '/life' | prepend: site.baseurl }}" {% if current[1]== "life" %} class="active"{% endif%}>
        소소한 이야기
        </a>
      </li>
      <li class="transition">
        <a href="{{ '/recruit' | prepend: site.baseurl }}" {% if current[1]== "recruit" %} class="active"{% endif %}>
        채용 정보
        </a>
      </li>
    </ul>
  </div>
</nav>