{% assign writer = site.data.members | find: 'id', page.writer %}
<div class='post-footer'>
  <div class="member_card">
    <div class="thumbnail-container">
      <div class='thumbnail'>
        {% assign thumbnail = site.static_files | find: 'basename', writer.id %}
        <img class='profile' src='{{thumbnail.path}}'/>
        <div class='emoji'>
          <span>{{writer.emoji}}</span>
        </div>
      </div>
      <div class='name'>{{writer.name}}</div>
    </div>
    <div class='description'>{{writer.comment}}</div>
  </div>
</div>