.home {
  overflow: hidden;

  .section {
    margin-bottom: 60px;

    @media (min-width: $break-small) {
      margin-bottom: 80px;
    }

    @media (min-width: $break-medium) {
      margin-bottom: 100px;
    }

    @media (min-width: $break-large) {
      margin-bottom: 120px;
    }

    .title {
      color: $primary;
      margin: 80px 0 20px 0;
      font-family: $source;
      font-size: 20px;
      font-weight: bold;
      vertical-align: middle;

      .label-emoji {
        font-size: 28px;
        margin-right: 5px;
      }

    }

    .content {
      padding: 10px;
      margin-bottom: 50px;

      &.introduce {
        a {
          color: $primary;
        }
      }

      table tr td {
        @media (max-width: $break-medium) {
          display: block;
          padding: 20px 10px;
          border-bottom: 1px solid $grey-2;
        }

        &:last-child {
          border: none;
        }
      }


      .recruit {
        .container {
          position: relative;
          text-align: center;

        }
        .background {
          width: 100%;
          height: 100%;
          object-fit: contain
        }


        .centered {
          color : white;
          position: absolute;
          top: 45%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: right;
        }


        .recruit_text {
          position: absolute;
          top: 53%;
          font-size: 30px;
          width: 100%;
          text-align: center;
          font-weight: 700;
          color: black;
          -webkit-text-stroke: 1px white;
        }

        .button {
          background-color:  $primary;
          border: none;
          color: white;
          padding: 15px 30px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 18px;
          cursor: pointer;
          position: absolute;
          top: 70%;
          left: 49%;
          transform: translate(-50%, -50%);
        }

      }

    }

  }
}

@keyframes moving {
  from {
    opacity: .3;
  }
  to {
    opacity: 1;
  }
}

.loading-animation {
  animation-name: moving;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
}
